/* Theme Color */

a,
.theme_color,
.social-icon-one li a:hover,
.main-header .header-top .top-right > ul > li > a:hover,
.main-header .header-top .top-left .links li a:hover,
.main-menu .navigation > li:hover > a,
.main-menu .navigation > li.current > a,
.main-menu .navigation > li:before,
.main-slider .icon-box,
.main-slider h1,
.btn-style-one:hover,
.main-footer .logo-widget .branch:hover,
.social-icon-two li a:hover,
.news-widget-block .widget-inner .post-date,
.news-widget-block .widget-inner .post-date:before,
.special-block-two .inner-box .content-box .signature,
.special-block-two .inner-box .content-box .signature .icon,
.special-block-two .inner-box .experiance-box .inner .number,
.special-info-block .inner .icon-box,
.main-slider .tparrows.gyges:hover,
.services-block-two .inner-box .icon-box,
.services-block-two .inner-box h2 a:hover,
.news-block .inner-box .lower-content .lower-box h3 a:hover,
.fact-counter .count-outer,
.fact-counter .count-outer .count-text,
.news-widget-block .widget-inner h3 a:hover,
.news-widget .more-news:hover,
.main-footer .footer-bottom .link-column .go-to-top,
.testimonial-block .inner-box .content-column .locations,
.services-block-two .inner-box .read-more:hover,
.services-block-three .inner-box .icon-box,
.services-block-three .inner-box h3 a:hover,
.services-block .inner-box .lower-content .lower-box .read-more:hover,
.main-header .nav-outer .outer-box .catelogue-btn:hover,
.main-header .sticky-header .main-menu .navigation > li.current > a,
.main-header .sticky-header .main-menu .navigation > li > a:hover,
.main-header .header-top-two .top-left .links li a:hover,
.main-header .header-top-two .top-left .links li:first-child a,
.main-header .header-top-two .top-left .links li a .icon,
.social-icon-three li a:hover,
.services-block-four .inner-box .icon-box,
.about-section .content-column .author span,
.main-header .header-top-two .top-right .link li a .fa,
.shop-item .inner-box:hover .lower-content h3 a,
.shop-item .inner-box .lower-content .rating .fa,
.products-section .lower-section .owl-nav .owl-prev,
.products-section .lower-section .owl-nav .owl-next,
.services-block-six .overlay-box .content-box .icon-box,
.services-block-six .overlay-box .content-box h3 a:hover,
.testimonial-block-one .inner-box .quote-icon,
.testimonial-block-one .inner-box .author-name span,
.subscribe-form .form-group .subscribe-btn,
.company-section .content-column .author span,
.video-section .play-btn,
.services-block-five .inner-box .icon-box,
.services-block-five .inner-box h3 a:hover,
.team-block .inner-box .image .overlay-box .content .designation,
.social-icon-four li a:hover,
.testimonial-block-one .inner-box .rating,
.footer-style-two .footer-bottom .link-column .go-to-top,
.page-breadcrumb li a:hover,
.form-group .ui-button .ui-icon:before,
.special-section .content-column .plans:hover,
.fact-counter.style-two .column .inner .icon-box,
.default-section-two .testimonial-column .more-option .option,
.special-section .category-tabs .tab-btns .tab-btn:hover,
.special-section .category-tabs .tab-btns .tab-btn.active-btn,
.project-block-two .inner-box .lower-content h2 a:hover,
.project-block-two .inner-box .lower-content .category,
.project-block-two .inner-box .lower-content .detail:hover,
.project-block-three .inner-box .image .overlay-box h2 a:hover,
.project-block-three .inner-box .image .overlay-box .category,
.gallery-single-section .inner-container .upper-box .info-column ul li span.fa,
.blog-cat-two li.active a, .blog-cat-two li a:hover,
.popular-posts .post .text a:hover,
.shop-section .items-sorting .results-column h4,
.news-block-three .inner-box .lower-content .lower-box h3 a:hover,
.press-block .content-column .inner-column h3 a:hover,
.testimonial-block-two .inner-box .lower-box .locations,
.catelogue-section .inner-container .video-options li a:hover,
.catelogue-section .inner-container .video-options li a .icon,
.project-block-two .inner-box .image .overlay-box .content h2 a:hover,
.blog-cat-three li a:hover:before, .blog-cat-three li a:hover,
.project-block-two .inner-box .image .overlay-box .content .category,
.project-block-two .inner-box .image .overlay-box .content .link-box:hover,
.accordion-box .block .acc-btn.active .icon-outer .icon-plus,
.catelogue-section .inner-container .video-boxed .owl-nav .owl-prev:hover,
.blog-single .inner-box .lower-content .text blockquote .quote-info .quote-desination,
.blog-single .post-share-options .tags a,
.sidebar .related-posts .post .rating .fa,
.product-details .basic-details .details-header .rating,
.product-details .basic-details .expired,
.shop-comment-form .rating-box .rating a:hover,
.cart-table tbody tr .sub-total,
.cart-table tbody tr .remove-btn:hover,
.checkout-page .default-links li a,
.contact-page-section .content-column .inner-column .branches,
.shop-single .product-details .prod-tabs .tab-btns .tab-btn:hover,
.shop-single .product-details .prod-tabs .tab-btns .tab-btn.active-btn,
.sidebar .related-posts .post a, .sidebar .related-posts .post a:hover,
.sidebar-page-container .comments-area .comment .comment-inner .rating .fa,
.comment-form .rating-box .rating a:hover,
.checkout-page .check-box label,
.contact-page-section .content-column .inner-column .contact-list li span,
.contact-page-section .content-column .inner-column h3,
.catelogue-section .inner-container .video-boxed .owl-nav .owl-next:hover,
.fact-counter.alternate .count-outer, .fact-counter.alternate .count-outer .count-text,
.project-block-two .inner-box .image .overlay-box .content .search-btn:hover,
.gallery-section .filters .filter.active, .gallery-section .filters .filter:hover,
.gallery-single-section .carousel-column .owl-nav .owl-prev:hover,
.gallery-single-section .carousel-column .owl-nav .owl-next:hover,
.catelogue-section .inner-container .video-boxed .image .overlay-link:hover{
	color:#d5ac63;
}

.testimonial-block-two .inner-box .content-box .content .quote-icon,
.testimonial-block .inner-box .content-column .inner-column .content:after{
	color:rgba(213,172,99,0.10);
}

/*Background Color*/
.btn-style-one,
.main-menu .navigation > li:after,
.main-slider .tparrows.gyges:hover,
.sec-title .separator:before,
.sec-title .separator:after,
.news-widget-block:before,
.btn-style-two:hover,
.main-menu .navigation > li > ul,
.main-menu .navigation > li > ul > li > ul,
.news-block .inner-box .lower-content .category:before,
.testimonial-block .inner-box .content-column .inner-column .content:before,
.services-block .inner-box .image .category,
.testimonial-section .owl-dots .owl-dot:hover,
.testimonial-section .owl-dots .owl-dot.active,
.fact-counter .count-outer:after,
.services-block-three:after,
.range-slider-one .ui-state-default, .range-slider-one .ui-widget-content .ui-state-default,
.about-section .content-column .author:before,
.about-section .image .more-about,
.video-box .text,
.clients-section,
.sidebar .popular-tags a:hover,
.press-block .content-column .inner-column .post-date,
.social-icon-four li .name:before,
.company-section .content-column .author:before,
.project-block-two .inner-box .lower-content .detail:before,
.special-section .content-column .plans:before,
.ui-state-active, .ui-widget-content .ui-state-active,
.special-section .lower-content .form-column h2,
.accordion-box .block .acc-content:before,
.blog-cat-two li a:hover::before,
.sidebar .search-box.style-two .form-group button,
.news-block-three .inner-box .lower-content .category:before,
.blog-single .inner-box .lower-content .category:before,
.introduction-section .intro-video-column .inner-column .play-box .play-inner,
.default-section-two .testimonial-column .more-option .more-text,
.shop-item .inner-box .image-box .overlay-box .cart-option li a,
.main-header .nav-outer .outer-box .cart-box .cart .icon .number,
.main-header .nav-outer .outer-box .catelogue-btn:before,
.range-slider-one .ui-slider .ui-slider-range,
.range-slider-one .theme-btn:hover,
.cart-table tbody .available-info .icon,
.cart-section .coupon-outer .cart-btn:hover,
.shipping-form .form-group .total-btn:hover,
.contact-page-section .tab-column .our-branches .dropdown-menu > li:hover,
.project-block-two .inner-box .image .overlay-box .content .link-box:before,
.styled-pagination li a:hover, .styled-pagination li a.active,
.testimonial-block-two .inner-box .content-box .content .quote-icon:before,
.services-block .inner-box .lower-content .lower-box .read-more:before,
.price-block.active .inner-box .upper-box, .price-block.active .inner-box .circle-box,
.price-block .inner-box:hover .upper-box, .price-block .inner-box:hover .circle-box,
.price-block.active .inner-box .lower-box .theme-btn, .price-block .inner-box:hover .lower-box .theme-btn{
	background-color:#d5ac63;
}

.footer-style-two .gallery-widget .image a:before{
	background-color:rgba(213,172,99,0.90);
}

.call-to-action-section:before{
	background-color:rgba(213,172,99,0.94);
}

/*Border Color*/

.btn-style-one,
.btn-style-one:hover,
.btn-style-two:hover,
.error-search-form .form-group input:focus,
.about-section .content-column h2 span,
.main-header .nav-outer .outer-box .cart-box .cart:hover,
.main-header .main-box .outer-container .border-box,
.main-header .search-panel input:focus,
.main-header .search-panel select:focus,
.main-header .search-box-outer .dropdown-menu,
.testimonial-section .owl-dots .owl-dot:hover,
.testimonial-section .owl-dots .owl-dot.active,
.testimonial-section .owl-dots .owl-dot,
.range-slider-one .ui-state-default, .range-slider-one .ui-widget-content .ui-state-default,
.appointment-form .form-group input[type="text"]:focus,
.appointment-form .form-group input[type="password"]:focus,
.appointment-form .form-group input[type="tel"]:focus,
.appointment-form .form-group input[type="email"]:focus,
.appointment-form .form-group select:focus,
.sidebar .popular-tags a:hover,
.cart-table tbody tr .remove-btn:hover,
.contact-page-section .content-column .inner-column h3,
.range-slider-one .theme-btn:hover,
.appointment-form .form-group textarea:focus,
.accordion-box .block .acc-btn.active .icon-outer .icon-plus,
.company-section .founder-column .image-column .founder-text,
.company-section .content-column .inner-column h2 span,
.ui-state-active, .ui-widget-content .ui-state-active,
.styled-pagination li a:hover, .styled-pagination li a.active,
.default-form input:focus, .default-form select:focus, .default-form textarea:focus,
.price-block.active .inner-box .lower-box .theme-btn, .price-block .inner-box:hover .lower-box .theme-btn,
.default-section-two .testimonial-column .client-thumb-outer .owl-item.active .thumb-item .thumb-box,
.comment-form .form-group input[type="text"]:focus,
.comment-form .form-group input[type="password"]:focus,
.comment-form .form-group input[type="tel"]:focus,
.comment-form .form-group input[type="email"]:focus,
.comment-form .form-group select:focus,
.comment-form .form-group textarea:focus,
.checkout-page .default-links li,
.shop-comment-form .form-group input[type="text"]:focus,
.shop-comment-form .form-group input[type="password"]:focus,
.shop-comment-form .form-group input[type="tel"]:focus,
.shop-comment-form .form-group input[type="email"]:focus,
.shop-comment-form .form-group select:focus,
.shop-comment-form .form-group textarea:focus,
.contact-form input:focus, .contact-form select:focus, .contact-form textarea:focus,
.checkout-form input:focus, .checkout-form select:focus, .checkout-form textarea:focus,
.shipping-form .form-group input:focus, .shipping-form .form-group textarea:focus{
	border-color:#d5ac63;
}

.default-section-two .testimonial-column .more-option .more-text:after{
	border-top-color:#d5ac63;
}

.video-box .text:after{
	border-bottom-color:#d5ac63;
}


@media only screen and (max-width: 767px){
	
	.main-menu .navbar-header .navbar-toggle{
		border-color:#d5ac63;
	}
	
	.main-menu .navbar-header .navbar-toggle,
	.main-menu .navbar-collapse > .navigation,
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul,
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus,
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,
	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a,
	.header-style-two.inner-header .main-menu .navigation > li > a{
		background-color:#d5ac63;
	}
	
}