/*
    Theme Responsive Design
*/

@media (max-width: 1024px) {
	
}

/* ---- Start of max-width 992px CSS ---- */
@media (max-width: 992px) {
    ul.nav > li > a {
        font-size: 10px;
        padding: 0 5px;
    }
    .main_slide{
        height: 510px;
    }
    .about_section .about_content{
        padding: 0;
    }
    .company{
        padding-top: 40px;
    }

}
/* ---- End of max-width 992px CSS ---- */


/* ---- Start of min-width 480px and max-width 768px CSS ---- */
@media all and (min-width: 480px) and (max-width: 768px) {
	
}
/* ---- End of min-width 480px and max-width 768px CSS ---- */


/* ---- Start of max-width 767px CSS ---- */
@media all and (max-width: 767px) {
    body, p{
        font-size: 12px;
        line-height: 22px;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 16px;
    }
    p br{
        display: none;
    }
    .padding{
        padding: 60px 0;
    }
    .xs-padding{
    	padding: 15px;
    }
    .navbar-header {
        padding: 23px 20px;
    }
    .navbar-header .brand {
        display: block;
        padding: 13px 25px;
    }
    .js #mainmenu {
        display:none;
    }
    .js .slicknav_menu {
        display:block;
    }
    .main_slide{
        height: 420px;
    }
    .page_header{
        height: 380px;
    }
    .breadcrumb {
        right: auto;
        top: auto;
        bottom: -50px;
        left: -15px;
        margin: 0;
    }
    .book_section .book_content {
        padding: 0px 0 40px;
    }
	.contact_form .form-group .col-sm-6:first-child{
        margin-bottom: 15px;
    }
    .coment-form .form-group .col-sm-4:last-child{
        margin-top: 15px;
    }
}
/* ---- End of max-width 767px CSS ---- */


/* ---- Start of max-width 480px CSS ---- */
@media all and (max-width: 480px) {
    .col-xs-6{
		float: none;
		width: 100%;
	}
    .hero_height{
        height: 380px;
    }
    .footer_section .copyright,
    .footer_social{ text-align: center; }
    .coment-form .form-group .col-sm-4{
        margin-bottom: 15px;
        margin-top: auto;
    }
    .coment-form .form-group .col-sm-4:last-child{
        margin: 0;
    }
    .reserv_form .form-group .col-xs-6:first-child{
        margin-bottom: 15px;
    }

}
/* ---- End of max-width 480px CSS ---- */


/* ---- Start of max-width 420px CSS ---- */
@media all and (max-width: 420px) {
    
}
/* ---- End of max-width 420px CSS ---- */


/* ---- Start of max-width 380px CSS ---- */
@media all and (max-width: 380px) {
	.slider_content .btn_group a {
        margin: 0 10px 10px 0;
    }
}
/* ---- End of max-width 380px CSS ---- */
